/*

*-універсальний селектор, усі елементи стануть такими, які задали(навіть <html><head>ітд)

p(teg)-селектор тега, любий треба написати тег без <>

№id(назва-id)-селектор індетифікатор, для єдиного неповторного тега

.назва-класу-для декількох класів і найкращий у використанні

lable[for="атрибут"]-існує для атрибутів, якщо більше немає чим під'єднати css, але теж не часто використовується



Пріорітетність(вага) селекторів:

*-нульова пріорітетність(0000 - специфічнічсть)

teg-майже така сама(0001)

.class-важлива(0010)

[attributes]-важлива, але не частов вик.(0011)

#id-найважливіший(0100)

inline style(ті, які вказані безпосередньо в хтмл розмітці всередині тега style) - будуть важити найбільше(1000)

*/

*{
    color: blue;
}

p {
    color: green;
}

.italic-text{
    font-style: italic;
    color: blueviolet;
}

.gold-text {
    color: gold;
}

h2.gold-text{

}

#middle-p {
    color: red;
}

label[for="mail-input"] {
    color: brown;
}