/*

*-універсальний селектор, усі елементи стануть такими, які задали(навіть <html><head>ітд)

p(teg)-селектор тега, любий треба написати тег без <>

№id(назва-id)-селектор індетифікатор, для єдиного неповторного тега

.назва-класу-для декількох класів і найкращий у використанні

lable[for="атрибут"]-існує для атрибутів, якщо більше немає чим під'єднати css, але теж не часто використовується



Пріорітетність(вага) селекторів:

*-нульова пріорітетність(0000 - специфічнічсть)

teg-майже така сама(0001)

.class-важлива(0010)

[attr=value]-важлива, але не часто вик.(0010)

#id-найважливіший(0100)

inline style(ті, які вказані безпосередньо в хтмл розмітці всередині тега style) - будуть важити найбільше(1000)



Комбінатор - особливі символи, які позначають зв'язок елементів(* теж вважається комбінатором):
- Пробіл " " між атрибутом та елементом вказує на нащадків(глибоко вкладані десь) певного тега(h2 є нащадком arrticle) (general descendent combinator)
- Кома , вказує декілька селекторів списком (list combinator)
- > дочірні елементи (child selector)
- для siblings:
~ - загальний комбінатор для всіх сіблінгів(брати і сетсри навіть двоюрідні), які нижче в потоці за вибраний елемент (general sibling selector)
+ - комбінатор найближчого сіблінга ОДНОГО (next sibling)

*/

body {
    background-color: rgba(169, 169, 169, 0.596);
}

*{
    color: blue;
}

p {
    color: green;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 18px;
}

.italic-text{
    font-style: italic;
    color: blueviolet;
}

.gold-text, p, h2 {
    color: gold;
}

h2.gold-text{

}

#middle-p {
    color: rgb(34, 23, 255);
    background-color: #F9FADF;
}

label[for="mail-input"] {
    color: brown;
}

article h2{
    background-color: blanchedalmond;
}

article>h2{
    background-color: rgba(0, 0, 255, 0.493);
}

p + p {
    background-color: gainsboro;
}